<!DOCTYPE html>
<html>
<head>
  <title>Cognitive Care: Early Intervention Of Alzheimer's Disease</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <center><br><h1>Alzheimer Disease Prediction Using MRI</h1><br><br><br><br>
  <p><li><br><ul>Alzheimer's Disease is hard to predict. <br><br>A treatment given at an early stage of AD is more effective,<br><br> and it causes fewer minor damage than a treatment done at a later stage.</ul><br></li></p>
  <button onclick="redirectToAnotherPage()">To Drop the scan!</button></center>

  <script>
    function redirectToAnotherPage() {
      window.location.href = "redirectedFile.html";
    }
  </script>
</body>
</html>
